@charset "UTF-8";
html {
    font-size: 100%;
}
body {
    /*background-color: #808080;
    background-image: url(images/宇宙背景.jpg);
    background-repeat: no-repeat;
    background-position: 30px 80px; */
 
    background: #808080 url(images/宇宙背景.jpg) no-repeat center bottom/cover;
    height: 100vh;
}

article h1 {
    border-bottom: 20px solid red;
    font-family: 'Noto Serif JP', serif;
    background-color: #808080;
    width: 400px;
    height: 100px;
    color: gold;
    font-size: 2rem;
}
article h2 {
    border: 5px dotted tomato;
    background-color: #ffffff;
    /*上に30px、右に0px、下に0px、左に100pxのマージン指定*/
    margin: 30px 0 0 100px;
    padding: 40px;
    font-family: "游ゴシック体", "Yu Gothic", sans-serif;
    font-size: 20px;
    color: #4800ff;
}
article p {
    border-width: medium;
    border-style:solid;
    border-color: tomato;
    background-color: #4800ff;
    padding: 20px 20px 20px 20px;
    font-family: "ヒラギノ丸ゴ Pro W4", "Hiragino Maru Gothic Pro", "Malgun Gothic", sans-serif;
    font-size:16px;
    line-height: 1.7;
    text-align: justify;
    color: #ffffff
}

div{
    width: 200px;
    height: 100px;
}
div p {
    margin: 30px 30px 30px 30px;
    border-width: 5px;
    border-style: double dotted solid ridge;
    border-color: tan #0026ff tomato #000;
    background-color: #4cff00;
    width: 50%;/*200pxの50%だけ表示*/
    height: 50%;
    font-family: 'Malgun Gothic', sans-serif;
    padding: 20px 20px 20px 20px;
    font-weight: bold;
    color: red;
}
div2 p {
    margin: 30px 30px 30px 30px;
    background-color: #ffffff;
    width: 500px;
    border-width: 1px 4px 8px 12px;
    border-style: solid;
    font-family: 'Malgun Gothic', sans-serif;
    color: #4cff00
}
ul{
    background-color: #ffffff;
    /*list-style-type: square;
    list-style-position: outside;*/
    list-style: square outside;
}
ul li{
    background-color: tomato;
}
ol {
    background-color: #ffffff;
    /*list-style-type: hiragana;
    list-style-position: inside;*/
    list-style: hiragana inside;
}
ol li{
    background-color: tomato;
}